$primary: #5863f8;

.portfolio-img {
  .portfolio-hover {
    transform: scale(0.85);
    transition: opacity 0.5s, transform 0.5s;
  }

  &:hover {
    .portfolio-hover {
      background-color: rgba($primary, 0.7);
      opacity: 1;
      transform: scale(1);
    }
  }
}
